<section class="contacts-section" id="contacts">
  <div class="container contacts">
    <h2 class="contacts__title">contacts</h2>
    <ul class="contact">
      <li class="contact__item">
        <p class="contact__cafe">CAFE</p>
        <address class="contact__city">Chicago</address>
        <a
          class="contact__details"
          target="_blank"
          href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+Stany+Zjednoczone/@41.7033903,-87.782315,17z/data=!3m1!4b1!4m6!3m5!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7033903!4d-87.7797401!16s%2Fg%2F11jnxh2b00?entry=ttu"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <hr class="contact__underline" />
        <p class="contact__days-opening">Monday - Friday</p>
        <p class="contact__hours-opening-week">06:00 AM - 10:00 PM</p>
        <p class="contact__days-opening">Saturday - Sunday</p>
        <p class="contact__hours-opening-weekend">08:00 AM - 16:00 PM</p>
        <hr class="contact__underline" />
        <a class="contact__phone" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contact__item">
        <p class="contact__foodtruck">FOODTRUCK</p>
        <address class="contact__city">Los Angeles</address>
        <a
          class="contact__details"
          target="_blank"
          href="https://www.google.com/maps/search/1003+manhattan+ave+manhattan+beach+ca+90263+usa/@33.9593098,-118.6447876,12z/data=!3m1!4b1?entry=ttu"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <hr class="contact__underline" />
        <p class="contact__days-opening">Monday - Friday</p>
        <p class="contact__hours-opening-week">06:00 AM - 10:00 PM</p>
        <p class="contact__days-opening">Saturday - Sunday</p>
        <p class="contact__hours-opening-weekend">08:00 AM - 16:00 PM</p>
        <hr class="contact__underline" />
        <a class="contact__phone" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="contact__item">
        <p class="contact__cafe">CAFE</p>
        <address class="contact__city">New York</address>
        <a
          class="contact__details"
          target="_blank"
          href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+Stany+Zjednoczone/@41.7033903,-87.782315,17z/data=!3m1!4b1!4m6!3m5!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7033903!4d-87.7797401!16s%2Fg%2F11jnxh2b00?entry=ttu"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <hr class="contact__underline" />
        <p class="contact__days-opening">Monday - Friday</p>
        <p class="contact__hours-opening-week">06:00 AM - 10:00 PM</p>
        <p class="contact__days-opening">Saturday - Sunday</p>
        <p class="contact__hours-opening-weekend">08:00 AM - 16:00 PM</p>
        <hr class="contact__underline" />
        <a class="contact__phone" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button type="button" class="contacts__btn-locations" modal-open__location>
        Our Locations &#10095;
      </button>
      <button type="button" class="contacts__btn-franchise" modal-open__franchise>
        Franchise &#10095;
      </button>
    </div>
  </div>
</section>

<div class="backdrop is-hidden" modal__location>
  <div class="modal-location">
    <button type="button" class="modal__close" modal-close__location>
      <svg class="modal__svg">
        <use href="./images/icons.svg#icon-menu_close"></use>
      </svg>
    </button>

    <p class="modal-location__title">Our Location</p>

    <p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.76118195574!2d34.4748386996148!3d49.60201520561489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2zUG_FgnRhd2EsIE9id8OzZCBwb8WCdGF3c2tpLCBVa3JhaW5hLCAzNjAwMA!5e0!3m2!1spl!2spl!4v1688571633456!5m2!1spl!2spl"
        class="modal-location__map"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </p>

    <a
      href="https://goo.gl/maps/RR6GdLqXCEX3c2AfA"
      rel="noreferrer noopener"
      class="modal-location__link"
    >
      Open Map</a
    >
  </div>
</div>

<div class="backdrop is-hidden" modal__franchise>
  <div class="modal-franchise">
    <button type="button" class="modal__close" modal-close__franchise>
      <svg class="modal__svg">
        <use href="./images/icons.svg#icon-menu_close"></use>
      </svg>
    </button>

    <p class="modal-franchise__title">Thank you for your interest in owning an Ice Cream shop</p>

    <p class="modal-franchise__text">
      Due to the overwhelming volume of franchise requests we are not accepting new franchisee
      applications at this time. Once the application process resumes, we will contact you for
      further information. Please fill out the contact information below and we will reach out for
      additional information. We appreciate your patience.
    </p>

    <form>
      <label class="modal-franchise__label">
        <input type="text" name="name" placeholder="Name" class="modal-franchise__imput" />
      </label>

      <label class="modal-franchise__label">
        <input type="tel" name="phone" placeholder="Phone" class="modal-franchise__imput" />
      </label>

      <label class="modal-franchise__label">
        <input type="email" name="email" placeholder="Email" class="modal-franchise__imput" />
      </label>

      <label class="modal-franchise__comment">
        <textarea
          name="comment"
          placeholder="Comment"
          class="modal-franchise__comment-text"
        ></textarea>
      </label>

      <button type="submit" class="modal-franchise__submit">Submit</button>
    </form>
  </div>
</div>
