<section class="customer-review">
  <div class="container">
          
          <div class="photo-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
              <picture>
                <source
              srcset="./images/slide1@2x.jpg"
              media="(min-width: 768px) and (max-width: 1199px)"/>
              
              <source srcset="./images/slide1@3x.jpg" media="(min-width: 1200px)"/>

            <img class="head-photo" src="./images/slide1.jpg" alt="ice-cream" />
            </picture>
              </div>
              <div class="swiper-slide">
              <picture>
            <source
              srcset="./images/slide2@2x.jpg"
              media="(min-width: 768px) and (max-width: 1199px)"/>
              
              <source srcset="./images/slide2@3x.jpg" media="(min-width: 1200px)"/>
              <img class="head-photo" src="./images/slide2.jpg" alt="ice-cream" />
              
              </div>

              <div class="swiper-slide">
                <picture>
            <source
              srcset="./images/slide3@2x.jpg"
              media="(min-width: 768px) and (max-width: 1199px)"/>
              
              <source srcset="./images/slide3@3x.jpg" media="(min-width: 1200px)"/>

            <img class="head-photo" src="./images/slide3.jpg" alt="ice-cream" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>


    


    <div class="swiper opinion-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="review__photo-container">
            <picture>
              <source
                srcset="./images/person1@2x.jpg"
                media="(min-width: 768px) and (max-width: 1199px)"
              />

              <source srcset="./images/person1@3x.jpg" media="(min-width: 1200px)" />

              <img class="review__photo" src="./images/person1.jpg" alt="Woman" />
            </picture>
          </div>
          <p class="review__text">
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
            addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <p class="review__name">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <div class="review__photo-container">
            <picture>
              <source
                srcset="./images/person2@2x.jpg"
                media="(min-width: 768px) and (max-width: 1199px)"
              />

              <source srcset="./images/person2@3x.jpg" media="(min-width: 1200px)" />

              <img class="review__photo" src="./images/person2.jpg" alt="Men eating ice-cream" />
            </picture>
          </div>
          <p class="review__text">
            Every day we come to you with friends after classes in college. We love your ice cream
            and casual atmosphere!
          </p>
          <p class="review__name">Brian, New-York</p>
        </div>
        <div class="swiper-slide">
          <div class="review__photo-container">
            <picture>
              <source
                srcset="./images/person3@2x.jpg"
                media="(min-width: 768px) and (max-width: 1199px)"
              />

              <source srcset="./images/person3@3x.jpg" media="(min-width: 1200px)" />

              <img class="review__photo" src="./images/person3.jpg" alt="Woman eating ice-cream" />
            </picture>
          </div>
          <p class="review__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
            excellent service - always served politely and quickly!
          </p>
          <p class="review__name">Diana, Chicago</p>
        </div>
      </div>
      <div class="pagination-container">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
