<footer class="footer-section">
  <div class="container footer">
    <div class="footer__contain">
      <div class="footer__titles">
        <p class="footer__how-made">homemade ice cream made</p>
        <p class="footer__passion">with passion</p>
      </div>
      <div class="footer__contacts">
        <ul class="footer__socjalmedia socialmedia">
          <li class="socialmedia__item">
            <a href="https://github.com/" target="_blank"
              ><svg class="socialmedia__icon" width="20" height="20">
                <use href="images/icons.svg#icon-github"></use></svg
            ></a>
          </li>
          <li class="socialmedia__item">
            <a href="https://web.telegram.org/" target="_blank"
              ><svg class="socialmedia__icon" width="20" height="20">
                <use href="images/icons.svg#icon-send"></use></svg
            ></a>
          </li>
          <li class="socialmedia__item">
            <a href="https://www.facebook.com/" target="_blank"
              ><svg class="socialmedia__icon" width="20" height="20">
                <use href="images/icons.svg#icon-facebook1"></use></svg
            ></a>
          </li>
        </ul>
        <div class="footer__telephone">
          <p>Feel free to contact</p>
          <a class="footer__phone-number" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
    <hr class="footer__underline" />
    <div class="footer__copyrights">
      <p>&#169; 2022 - IceCream.</p>
      <p>All Rights Reserved.</p>
    </div>
  </div>
</footer>
