<section class="hero__container container">
  <div class="hero">
    <h1 class="hero__title">ICE CREAM MADE WITH PASSION</h1>
    <div class="hero__box-links">
      <a class="hero__btn hero__btn--products" href="#products">Products</a>
      <a class="hero__btn hero__btn--how-it-is-made" href="#about">How it's made?</a>
    </div>
    <div class="hero__row-ice-cream-plate">
      <div class="hero__box-img-ice-cream-plate">
        <!-- <img src="images/ice-cream_platter.png" alt="" /> -->

        <img
          src="images/ice-cream_platter.png"
          alt="icecream plate"
          srcset="images/ice-cream_platter@2x.png 2x, images/ice-cream_platter@3x.png 3x"
        />
      </div>
      <div class="hero__box-slogan">
        <p class="hero__text-slogan">
          Indulge in a scoop of ice cream made with passion and treat your taste buds to an
          unforgettable experience!
        </p>
        <button class="hero__btn-arrow-right">
          <svg xmlns="http://www.w3.org/2000/svg" width="41" height="16" viewBox="0 0 41 16">
            <!-- <path
              d="M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z"
              fill="#FCFCFC"
              fill="none"
            /> -->
            <use href="images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="hero__box-img-ice-cream">
    <picture>
      <source srcset="images/mobil/ice-cream_mobile.png" media="(max-width: 480px)" />
      <source srcset="images/tablet/ice-cream_tablet.png" media="(max-width: 768px)" />
      <source srcset="images/desktop/ice-cream_desktop.png" media="(min-width: 1280px)" />
      <img class="ice-cream" src="images/desktop/ice-cream_desktop.png" alt="Ice-cream" />
    </picture>
  </div>
  <div class="hero__box-info">
    <div class="hero__box-info-cafe box-info">
      <span class="info-number">16</span>
      <span class="info-text">cafes</span>
    </div>
    <div class="hero__box-info-foodtrucks box-info">
      <span class="info-number">23</span>
      <span class="info-text">food trucks</span>
    </div>
  </div>
</section>
