<div class="backdrop-buy is-hidden-buy" modal-buynow-open>
  <form class="order">
    <button type="button" class="order__btn-close" modal-buynow-close>
      <svg class="order__btn-close-icon" width="24" height="24">
        <use href="images/icons.svg#icon-menu_close"></use>
      </svg>
    </button>
    <h3 class="order__title">Buy now</h3>
    <div class="order__kinds kinds">
      <label for="ice-cream">
        <input class="kinds__input" type="radio" name="kind" value="ice-cream" id="ice-cream" />
        <div class="kinds__input-cream-substitute">
          <div class="kinds__bg-cream"></div>
          <div class="kinds__photo">
            <img
              src="./images/product_ice-cream.jpg"
              alt="ice cream"
              srcset="./images/product_ice-cream@2x.jpg 2x, ./images/product_ice-cream@3x.jpg 3x"
            />
          </div>
          <p class="kinds__title">ice cream</p>
        </div>
      </label>
      <label for="ice-coffee">
        <input
          class="kinds__input"
          type="radio"
          name="kind"
          value="ice-cream"
          id="ice-coffee"
          checked
        />
        <div class="kinds__input-coffee-substitute">
          <div class="kinds__bg-coffee"></div>
          <div class="kinds__photo">
            <img
              src="./images/product_ice-coffee.jpg"
              alt="ice coffee"
              srcset="./images/product_ice-coffee@2x.jpg 2x, ./images/product_ice-coffee@3x.jpg 3x"
            />
          </div>
          <p class="kinds__title">ice coffee</p>
        </div>
      </label>
      <label for="milkshake">
        <input class="kinds__input" type="radio" name="kind" value="ice-cream" id="milkshake" />
        <div class="kinds__input-milkshake-substitute">
          <div class="kinds__bg-milkshake"></div>
          <div class="kinds__photo">
            <img
              src="./images/product_milkshakes.jpg"
              alt="milkshakes"
              srcset="./images/product_milkshakes@2x.jpg 2x, ./images/product_milkshakes@3x.jpg 3x"
            />
          </div>
          <p class="kinds__title">milkshake</p>
        </div>
      </label>
    </div>
    <div class="order__user user">
      <label for="user-name-buy">
        <input
          class="user__input"
          type="text"
          name="name"
          id="user-name-buy"
          placeholder="Name"
          required
          minlength="3"
          pattern="^\w+\s\w+$"
        />
      </label>
      <label for="user-phone-buy">
        <input
          class="user__input"
          type="tel"
          name="phone"
          id="user-phone-buy"
          placeholder="Phone"
          required
          minlength="9"
          pattern="^\d+$"
        />
      </label>
      <label for="user-comment-buy">
        <textarea
          class="user__textarea"
          name="order"
          id="user-comment-buy"
          placeholder="Comment"
        ></textarea>
      </label>
    </div>
    <div class="order__btn-container">
      <button type="submit" class="order__btn">Submit</button>
    </div>
  </form>
</div>
